* {

    font-family: Droid, Helvetica, Arial, sans-serif;

}

window#waybar {
font-size:16px;
	background: black;
	color: white;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#network{



}


#workspaces,

 
#pulseaudio,
#network,
#custom-storage,
#disk_root,
#temperature,
#backlight,
#battery#bat2
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#custom-weather{
	background: black;
}

#workspaces button {

font-size:16px;
	padding:5px;
border-radius:0px;
	color: #42FF2A;
}
#workspaces button.focused {


	border-radius:0px;
	color: white;
	background-color: green;
}

#workspaces button:hover {

	box-shadow: none;
	text-shadow: none;
}





#workspaces button:hover {
	color: white;
	border-radius:0px;
	background:green;
	border: 0px;
}

#pulseaudio {
	color: #FFA07A;
}
#memory {
	color: #6495ed;
}
#cpu {
	color: #40e0d0;
}
#battery {
	color: #FF00FF;
}


#bluetooth{

color:pink;

}

#network{

color:#00ff00;
}

#custom-storage{

color:#DE3163;


}

#backlight{

color: #DFFF00;

}


#temperature{

color:orange;

}


#battery.charging {
 
    background: #42ff4a;

    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;



}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: red;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#disk {
	color: #b58900;
}


#pulseaudio,
#network,
#custom-storage,
#custom-disk_root,
#temperature,
#backlight,
#battery#bat2
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#bluetooth,
#custom-weather
{
	padding-right:8px;
	padding-left:8px;
	    border-right: 1px solid #373535;
}

#custom-media{
    font-style: italic;
    	font-size:15px;
	padding-left:20px;
	padding-right:20px;

}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
